<app-toast-container></app-toast-container>
<form [formGroup]="userForm" (ngSubmit)="submitUser()" clrForm>
  <clr-input-container>
    <label for="firstName">Imię</label>
    <input id="firstName" type="text" formControlName="firstName" clrInput />
    <clr-control-error *clrIfError="'required'">
      Imię jest wymagane.
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label for="lastName">Nazwisko</label>
    <input id="lastName" type="text" formControlName="lastName" clrInput />
    <clr-control-error *ngIf="userForm.get('lastName')?.hasError('required')">
      Nazwisko jest wymagane.
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label for="email">E-mail</label>
    <input id="email" type="email" formControlName="email" clrInput />
    <clr-control-error *ngIf="userForm.get('email')?.hasError('required')">
      E-mail jest wymagany.
    </clr-control-error>
    <clr-control-error *ngIf="userForm.get('email')?.hasError('email')">
      Wpisz poprawny adres e-mail.
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label for="organization">Organizacja</label>
    <input id="organization" type="text" formControlName="organization" clrInput />
    <clr-control-error *ngIf="userForm.get('organization')?.hasError('required')">

    </clr-control-error>
  </clr-input-container>


  <clr-number-input-container>
    <label>Age</label>
    <input clrNumberInput type="number" formControlName="age" />

    <clr-control-error *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
      Enter a valid age
    </clr-control-error>
  </clr-number-input-container>


  <clr-checkbox-container>
    <label>Regulamin</label>
    <clr-checkbox-wrapper>
      <input clrCheckbox type="checkbox" formControlName="termsAccepted" />
      <label>Zapoznałem się z regulaminem</label>
    </clr-checkbox-wrapper>

    <clr-control-error
      *ngIf="userForm.get('termsAccepted')?.touched && userForm.get('termsAccepted')?.hasError('required')">
      Musisz zaakceptować regulamin.
    </clr-control-error>
    <clr-control-error
      *ngIf="userForm.get('termsAccepted')?.touched && userForm.get('termsAccepted')?.hasError('requiredTrue')">
      Musisz zaakceptować regulamin.
    </clr-control-error>
  </clr-checkbox-container>

  <button type="submit" clrButton class="btn btn-primary">Check</button>
</form>

<div class="mt-3" *ngIf="message">
  <clr-alert [clrAlertType]="message.includes('pełnoletni') ? 'success' : 'warning'" [clrAlertClosable]="true">
    <clr-alert-item>
      <span class="alert-text">{{ message }}</span>
    </clr-alert-item>
  </clr-alert>
</div>

<clr-datagrid>
  <clr-dg-column [clrDgSortBy]="nameComparator" [clrDgSortOrder]="defaultSortOrder" clrDgField="lastName">Nazwisko</clr-dg-column>  
  <clr-dg-column clrDgField="firstName">Imię</clr-dg-column>

  <clr-dg-column clrDgField="email">E-mail</clr-dg-column>
  <clr-dg-column clrDgField="organization">Organizacja</clr-dg-column>
  <clr-dg-column clrDgField="age">Wiek</clr-dg-column>


  <clr-dg-row *clrDgItems="let user of users">  
    
    <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
    <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
    <clr-dg-cell>{{user.email}}</clr-dg-cell>
    <clr-dg-cell>{{user.organization}}</clr-dg-cell>
    <clr-dg-cell>{{user.age}}</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>